/* 
███    ███ ██ ██████  ████████ ██   ██ 
████  ████ ██ ██   ██    ██    ██   ██ 
██ ████ ██ ██ ██████     ██    ███████ 
██  ██  ██ ██ ██   ██    ██    ██   ██ 
██      ██ ██ ██   ██    ██    ██   ██ 
   Comprehensive stylesheet v0.1.0
*/

/* google inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
/* google fira code font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* themeable colors */
  --background-color: #fff;
  --item-background-color: #f8f8f8;
  --item-background-color-hover: #f0f0f0;
  --border-color: #e7e7e7;
  /* text colors */
  --text-color: #333;
  --faded-text-color: #666;
  --power-text-color: #000;
  /* key non-background color */
  --accent-color: #ff0000;

  /* text underline offset for the moving underline effect */
  --text-underline-offset-default: 0.15rem;
  --text-underline-offset-hover-diff: 0.25rem;
  --text-decoration-thickness: 0.075rem;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* themeable colors */
    --background-color: #111;
    --item-background-color: #222;
    --item-background-color-hover: #333;
    --border-color: #444;
    /* text colors */
    --text-color: #eee;
    --faded-text-color: #999;
    --power-text-color: #fff;
    /* key non-background color */
    --accent-color: #ff6600;
  }
}

.page {
  /* replaced body */
  /* set default text color across the page */
  color: var(--text-color);
  /* set default background color across the page */
  background-color: var(--background-color);
  /* set default font across the page */
  font-family: "Inter", sans-serif;
  /* center the body horizontally */
  margin: 0 auto 3rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .page {
    /* replaced body */
    max-width: 60%;
  }
}

.page__content {
  /* replaced main */
  line-height: 1.75;
}

.code {
  /* replaced code */
  /* set default font for code blocks */
  font-family: "Fira Code", monospace;
}

.code__block {
  /* replaced pre */
  /* set default background color for code blocks */
  background-color: var(--item-background-color);
  font-family: "Fira Code", monospace;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 11pt;
  /* shiki line numbers */
  /* counter-reset: step;
      counter-increment: step calc(var(--start, 1) - 1); */
}

/* ------------------------------------ x ----------------------------------- */
/* shiki line numbers */
/* pre code .line:before {
    counter-increment: step;
    content: counter(step);
    display: inline-block;
    width: 2em;
    margin-right: 1em;
    color: #525053;
  } */

pre code {
  /* might need to be replaced, not sure how */
  background-color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
}

/* add fancy styling and outline to code blocks */
p code,
li code,
.aside-right code,
.aside-left code,
table code {
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
}
/* ------------------------------------ x ----------------------------------- */

.media {
  /* replaced img, video */
  /* dynamic image/video sizing */
  width: 100%;
  height: auto;
}

.link {
  /* replaced a */
  color: var(--power-text-color);
  text-decoration: underline;
}

.text--faded {
  color: var(--faded-text-color);
}

.link--gasping {
  /* replaced a */
  /* link style where instead of colored links, links are underlined and the underline floats downwards when hovered */
  text-underline-offset: var(--text-underline-offset-default);
  text-decoration-thickness: var(--text-decoration-thickness);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .link--gasping:hover {
    /* replaced main a:hover */
    /* link style where instead of colored links, links are underlined and the underline floats downwards when hovered */
    text-underline-offset: calc(
      var(--text-underline-offset-default) +
        var(--text-underline-offset-hover-diff)
    );
    text-decoration-thickness: var(--text-decoration-thickness);
    color: var(--accent-color);
    transition: all 0.2s ease-in-out;
  }
}

.blockquote {
  /* replaced blockquote */
  /* block quote styling */
  margin: 1rem 0;
  padding-left: 1.5rem;
  border-left: 3px solid var(--border-color);
  background-color: var(--item-background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: var(--text-color);
  font-style: italic;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .blockquote {
    /* replaced blockquote */
    font-size: 0.9rem;
  }
}

.hori-line {
  /* replaced hr */
  /* horizontal line styling */
  border: 1px solid var(--border-color);
  margin: 1rem 0;
}


/* copy button */
pre.astro-code {
  position: relative;
}

pre.astro-code > .copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0.4rem 0.3rem 0.2rem 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.fade-in {
  animation: fade-in 2s;
}


/* -------------------------------------------------------------------------- */
/*                   all the table styles need to be redone                   */
/* -------------------------------------------------------------------------- */

.table { /* replaced table */
  /* table styling */
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table__header { /* replaced thead */
  /* table header styling */
  background-color: var(--background-color);
  color: var(--power-text-color);
}

table th,
table td {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0.75rem;
  text-align: left;
  border: 1px solid var(--border-color);
  background-color: var(--item-background-color);
  color: var(--text-color);
}

table th {
  font-weight: 600;
  background-color: var(--background-color);
  color: var(--power-text-color);
}

table tbody tr:hover {
  background-color: var(--faded-text-color);
  color: var(--background-color);
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: var(--accent-color);
  color: var(--background-color);
}

table thead th {
  border-bottom: 1px solid var(--border-color);
}

table tfoot td {
  border-top: 1px solid var(--border-color);
}

/* responsive table for larger screens */
@media screen and (min-width: 769px) {
  table {
    width: 100%;
  }
}

/* responsive table for mobile */
table {
  width: 100%;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 12px;
}

table::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--border-color);
}

/* -------------------------------------------------------------------------- */
/*                   all the table styles need to be redone                   */
/* -------------------------------------------------------------------------- */

/* task list styling */
.contains-task-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  /* margin: 0; */
  /* padding: 0; */
  list-style-type: none;
}

.contains-task-list li {
  line-height: 1.6;
  display: flex;
  align-items: center;
}

.contains-task-list li input[type="checkbox"] {
  margin-right: 0.5rem;
}

.contains-task-list li label {
  color: var(--text-color);
  font-weight: 600;
  flex: 1;
}

.contains-task-list li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--faded-text-color);
}

.contains-task-list li button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contains-task-list li button:hover {
  background-color: #e60000;
}

/* asides styling */
.aside-left {
  /* inline by default because of mobile */
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
  background-color: var(--item-background-color);
  /* padding: 1rem; */
  border: 1px solid var(--border-color);
}

.aside-right {
  /* inline by default because of mobile */
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
  background-color: var(--item-background-color);
  /* padding: 1rem; */
  border: 1px solid var(--border-color);
}

.aside-left p,
.aside-right p {
  margin: 0;
  padding: 0;
}

/* desktop aside styling */
@media screen and (min-width: 769px) {
  .aside-left {
    float: left;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    width: 30%;
    background-color: var(--item-background-color);
    border: 1px solid var(--border-color);
  }

  .aside-right {
    float: right;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    width: 30%;
    background-color: var(--item-background-color);
    border: 1px solid var(--border-color);
  }

  .aside-left img,
  .aside-right img {
    width: 100%;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --item-background-color: #222;
    --border-color: #444;
    --power-text-color: #fff;
    --text-color: #eee;
    --faded-text-color: #999;
    --accent-color: #ff6600;
  }
}

/* work card styling */
.astro-icon {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
  background: url("https://api.iconify.design/simple-icons/astro.svg") no-repeat
    center center / contain;
  content: url("https://api.iconify.design/simple-icons/astro.svg");
  filter: invert(0%) sepia(5%) saturate(144%) hue-rotate(317deg) brightness(87%)
    contrast(87%);
}

@media (prefers-color-scheme: dark) {
  .astro-icon {
    filter: invert(88%) sepia(100%) saturate(138%) hue-rotate(197deg)
      brightness(107%) contrast(101%);
  }
}

/* Blog banner styling */
hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 2rem 0;
}

.image-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0.5rem 1rem;
}

.image-banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  padding: 10px;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  position: relative;
}

/* Work banner styling */
article {
  margin-top: 24px;
}

sup a,
.data-footnote-backref {
  color: var(--faded-text-color);
  text-decoration: none;
}

.data-footnote-backref:hover {
  color: var(--accent-color);
}

.last-updated-on {
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
  font-size: 0.8rem;
  color: var(--faded-text-color);
}

.smaller-font {
  font-size: 0.2rem;
}

code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.no-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: var(--faded-text-color);
}


/* -------------------------------------------------------------------------- */
/*                               button styling                               */
/* -------------------------------------------------------------------------- */

.button {
  position: relative;
  background-color: var(--item-background-color);
  outline: none;
  border: none;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.6rem 0.6rem 0.55rem 0.6rem; */
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.button--dont-wrap {
  flex-shrink: 0;
}


.button:hover {
  background-color: var(--border-color);
}

.button:active {
  border: 1px solid var(--item-background-color);
}

@media (min-width: 769px) {
  .button {
    line-height: 19.5px;
    padding: 0.5rem 0.5rem 0.45rem 0.5rem;
    font-size: 1rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                input styling                               */
/* -------------------------------------------------------------------------- */

.input-text-line {
  position: relative;
  display: inline-block;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0.6rem 0.6rem 0.55rem 0.6rem;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  background-color: var(--item-background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 769px) {
  .input-text-line {
    padding: 0.5rem 0.5rem 0.45rem 0.5rem;
    font-size: 1rem;
  }
}

.input-text-line::placeholder {
  color: var(--faded-text-color);
  text-transform: uppercase;
  opacity: 0.3;
}
.input-text-line:focus::placeholder {
  color: transparent;
  transition: all 0.1s ease-in-out;
}
.input-text-line:focus {
  border: 1px solid var(--accent-color);
  transition: all 0.1s ease-in-out;
}

.input-and-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
}